@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

body {
  font-size: 1rem;
}

.edit-option {
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  padding: 0 !important;
}

.edit-option:hover {
  background-color: rgba(99, 115, 129, 0.08);
  box-shadow: none;
}

.edit-popover .css-uywun8-MuiPaper-root-MuiPopover-paper {
  box-shadow: 2px 2px 5px rgba(151, 151, 151, 0.3);
  width: 150px;
  transform: translate(-120px, -35px) !important;
}

.edit-popover-content:hover {
  background-color: rgba(99, 115, 129, 0.08);
  cursor: pointer;
}

.edit-popover-content {
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
}

.profile-dropdown
  .css-g0cb43-MuiButtonBase-root-MuiMenuItem-root
  .MuiListItemIcon-root {
  min-width: 30px;
}

.profile-dropdown .css-qehfkt-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 14px;
  top: 75px !important;
}

.profile-dropdown
  .css-qehfkt-MuiPaper-root-MuiPopover-paper-MuiMenu-paper::before {
  display: none;
}
.profile-dropdown .css-99wn1p-MuiList-root-MuiMenu-list {
  padding: 8px;
}

.profile-dropdown .css-g0cb43-MuiButtonBase-root-MuiMenuItem-root {
  padding-left: 8px;
}

.profile-dropdown .css-g0cb43-MuiButtonBase-root-MuiMenuItem-root:hover {
  border-radius: 8px;
}

.profile-dropdown .css-1mi6xpr-MuiTypography-root {
  line-height: 1;
}

.search-filter
  .css-j882ge-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #979797;
  border-width: 1px;
}

.search-filter .css-1jk99ih-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 14px 10px 40px;
}

.search-filter .css-18pjc51-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #979797;
}

.search-filter .search-icon {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
}

.settings .css-qehfkt-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  min-width: 300px;
}

.settings .css-qehfkt-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 14px;
  top: 75px !important;
}

.settings .css-qehfkt-MuiPaper-root-MuiPopover-paper-MuiMenu-paper::before {
  display: none;
}
.settings .css-99wn1p-MuiList-root-MuiMenu-list {
  padding: 24px 16px;
}

.settings .css-g0cb43-MuiButtonBase-root-MuiMenuItem-root {
  padding-left: 8px;
}

.settings .css-g0cb43-MuiButtonBase-root-MuiMenuItem-root:hover {
  border-radius: 8px;
}

.settings .css-1mi6xpr-MuiTypography-root {
  line-height: 1;
}

.sidebar .css-193q0wg-MuiListItem-root {
  padding: 0;
}

.login-inputs
  .css-j882ge-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #979797;
  border-width: 1px;
}

.login-inputs .css-18pjc51-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #979797;
}

.css-18pjc51-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #06a19b !important;
}

.css-18w7by0.Mui-focused {
  color: red !important;
}

.css-1o0kqxp-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #06a19b !important;
}

.sidebar .css-1edfpdg-MuiTypography-root {
  font-size: 0.85rem;
  font-weight: 500;
}
