@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

body {
  font-size: 1rem;
}

.edit-option {
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  padding: 0 !important;
}

.edit-option:hover {
  background-color: rgba(99, 115, 129, 0.08);
  box-shadow: none;
}

.edit-popover .css-uywun8-MuiPaper-root-MuiPopover-paper {
  box-shadow: 2px 2px 5px rgba(151, 151, 151, 0.3);
  width: 150px;
  transform: translate(-110px, -35px) !important;
}

/* .edit-popover-content:hover {
  background-color: rgba(99, 115, 129, 0.08);
  cursor: pointer;
} */

/* .edit-popover-content {
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
} */

.testy1 ul {
  padding: 6px;
}

.testy1 ul li {
  border-radius: 8px;
  padding: 4px 8px;
}

.testy1 div:nth-child(3){
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.2rem rgba(151, 151, 151, 0.15);
  width: 150px;
  transform: translate(-130px, -35px) !important;
}

.profile-dropdown
  .css-g0cb43-MuiButtonBase-root-MuiMenuItem-root
  .MuiListItemIcon-root {
  min-width: 30px;
}

.profile-dropdown .css-qehfkt-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 14px;
  top: 75px !important;
}

.profile-dropdown
  .css-qehfkt-MuiPaper-root-MuiPopover-paper-MuiMenu-paper::before {
  display: none;
}
.profile-dropdown .css-99wn1p-MuiList-root-MuiMenu-list {
  padding: 8px;
}

.profile-dropdown .css-g0cb43-MuiButtonBase-root-MuiMenuItem-root {
  padding-left: 8px;
}

.profile-dropdown .css-g0cb43-MuiButtonBase-root-MuiMenuItem-root:hover {
  border-radius: 8px;
}

.profile-dropdown .css-1mi6xpr-MuiTypography-root {
  line-height: 1;
}

.search-filter .css-1jk99ih-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8.5px 14px 8.5px 36px;
}

.search-filter .css-18pjc51-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #979797;
}

.search-filter .search-icon {
  position: absolute;
  left: 6%;
  top: 50%;
  transform: translate(-6%, -50%);
}

.settings .css-qehfkt-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  min-width: 300px;
}

.settings .css-qehfkt-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 14px;
  top: 75px !important;
}

.settings .css-qehfkt-MuiPaper-root-MuiPopover-paper-MuiMenu-paper::before {
  display: none;
}
.settings .css-99wn1p-MuiList-root-MuiMenu-list {
  padding: 24px 16px;
}

.settings .css-g0cb43-MuiButtonBase-root-MuiMenuItem-root {
  padding-left: 8px;
}

.settings .css-g0cb43-MuiButtonBase-root-MuiMenuItem-root:hover {
  border-radius: 8px;
}

.settings .css-1mi6xpr-MuiTypography-root {
  line-height: 1;
}

.sidebar .css-193q0wg-MuiListItem-root {
  padding: 0;
}

.login-inputs .css-18pjc51-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #979797;
}

/* .sidebar .css-1edfpdg-MuiTypography-root {
  font-size: 10px;
  font-weight: 500;
} */

.select-input {
  display: none;
}

.select-input
  .css-15k6ek6-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px;
}

.select-input .css-1q964xs-MuiFormLabel-root-MuiInputLabel-root {
  top: -5px;
  border-color: #979797 !important;
}

.nav-links {
  text-decoration: none;
  color: unset;
}

/* for small sidebar */

.nav-links span {
  font-size: 10px;
}

.nav-links .active {
  background: rgba(6, 161, 155, 0.1);
  border-radius: 8px;
}

.nav-links .active span{
  color: #0E848E;
  font-weight: 500;
}

/* for bigger sidebar */

/* .nav-links span {
  font-size: 14px;
} */

.nav-links li {
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.nav-links li > div:hover {
  border-radius: 8px;
}

.breadcrumb-links {
  font-size: 14px;
}

.breadcrumb-links ol li:nth-child(1) {
  color: #272727;
  font-weight: 500;
}

.breadcrumb-links ol li:nth-child(1):hover {
  text-decoration: underline;
}

.loading-spinner svg {
  color: #06a19b;
}
.upload-file-input > span {
  margin-right: 0;
}

.switch-input
  .css-1x2e00o-MuiSwitch-root
  .MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background: rgba(6, 161, 155, 0.48);
}

.switch-input .css-1edfpdg-MuiTypography-root {
  font-size: 14px;
  color: rgb(145, 158, 171);
  margin-left: 16px;
}

.search-filter .css-j882ge-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 8px;
}

.form-input > div > fieldset {
  border: 1px solid #979797 !important;
}

.form-input > label {
  color: #979797 !important;
}
